/*
guidemapper-nf nextflow config
*/

params {
    inputDir = './input'
    resultsDir = './results'
    genomeDir = './genomes'
    agnostic = false
    legacy_feature = 'SYMBOL'
    max_alignments = 10
}

profiles {

    standard {
        includeConfig 'conf/resources.config'
        includeConfig 'conf/ensembl91.config'
    }

    singularity {
        includeConfig 'conf/resources.config'
        includeConfig 'conf/singularity.config'
        includeConfig 'conf/ensembl91.config'
    }

    ii2 {
        includeConfig 'conf/resources.config'
        includeConfig 'conf/singularity.config'
        includeConfig 'conf/ii2.config'
        includeConfig 'conf/ensembl91.config'
    }
}
