/*
ENSEMBL release 91 genome
*/

params {
    genomes {
        'GRCh38' {
            gtf = "${params.genomeDir}/GRCh38/gtf/Homo_sapiens.GRCh38.91.gtf"
            bt2 = "${params.genomeDir}/GRCh38/bt2/index"
            org_package = 'org.Hs.eg.db'
            genome_package = 'BSgenome.Hsapiens.UCSC.hg38'
        }
        'GRCm38' {
            gtf = "${params.genomeDir}/GRCm38/gtf/Mus_musculus.GRCm38.91.gtf"
            bt2 = "${params.genomeDir}/GRCm38/bt2/index"
            org_package = 'org.Mm.eg.db'
            genome_package = 'BSgenome.Mmusculus.UCSC.mm10'
        }
    }
}
