/*
Resource management
*/

process {
    executor = 'local'
    cpus = 1

    $input2fasta {
        time = { 20.m * task.attempt }
        memory = { 1.GB * task.attempt }
    }
    $align {
        cpus = 2
        time = { 1.h * task.attempt }
        memory = { 5.GB * task.attempt }
    }
    $annotate_features {
        time = { 1.h * task.attempt }
        memory = { 5.GB * task.attempt }
    }
}

timeline {
    enabled = true
}
